.clsFolderContainer{
  display: block;
  width:  150px;
  height: 200px;
  border:solid 3px rgb(182, 182, 182); 
  border-radius:10px;
  padding: 10px;
  margin: 5px;
  background-color: yellow;
  float: left;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
}

.clsMovieContainer
{
  display: block;
  width:  150px;
  height: 250px;
  border:solid 3px darkgrey; 
  border-radius:10px;
  padding: 10px;
  margin: 5px;
  background-color: rgb(73, 255, 255);
  float: left;
  box-shadow: 5px 5px 5px grey;
}

.clsMoviePosterBox{
  width: 98%;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

.clsMoviePosterPic{
  /* height: 310px; */
  max-height: 180px; 
  max-width: 145px;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.clsMovieTitle{
  font-size: 18px;
}

.clsAllMovies{
  width: 100%;
  overflow: hidden;
  display: block;
}